<h1>All bobas here</h1>

<%@teas.each do |tea| %>
  <div class="tea">
  <%=link_to tea.name, user_tea_path(tea.user_id, tea) %>
 
  </div>

<%end%>
<br>
<button><%= link_to "Create new boba", new_user_tea_path(current_user) %></button>
<button><%= link_to "My boba", user_teas_path(current_user) %></button>
<button><%= link_to "Log Out", logout_path, method: :delete%></button>

